<%= render :partial => 'admin/shared/configuration_menu' %>

<div class='toolbar' data-hook="toolbar">
  <ul class='actions'>
    <li id="new_contact_topic_link">
      <%= button_link_to t("new_contact_topic"), new_object_url, {:icon => 'add', :id => 'admin_new_contact_topic'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("contact_topics")%></h1>

<table class="index">
  <tr>
    <th><%= t("name") %></th>
    <th><%= t("emails") %></th>
    <th></th>
  </tr>
  <% @contact_topics.each do |topic| %>
    <tr id="<%= dom_id topic %>">
      <%- locals = {:topic => topic} %>
      <td><%= topic.name %></td>
      <td><%= topic.emails %></td>
      <td class="actions">
        <%= link_to_edit topic  %>
        &nbsp;
        <%= link_to_delete topic  %>
      </td>
    </tr>
  <% end %>
</table>


